*{
	main-blue: #5c6bc0;
	dark-blue: #26418f;
	light-blue: #8e99f3;
	very-light-blue: #dee7fc;
	mega-very-light-blue: #f3f6ff;
	main-yellow: #fffb30;
	light-yellow: #faffc0;
	main-gold: #ffb62f;
	dark-orange: #bf533b;
	main-orange: #ff4e00;
	player-name-color: black; //This variable is needed to update the text color in runtime
	
	selected-bg: linear-gradient(to bottom right, main-gold, main-yellow);
	selected-text: linear-gradient(to bottom right, dark-orange, main-orange);
	controls-gradient: linear-gradient(main-blue, dark-blue);
}
.root {
	-fx-font-family: arial;
	-fx-background: #f4f4f4;
	-fx-effect: innershadow(gaussian, gray, 8, 0, 0, 0); //blurtype, color, radius, choke, xOffset, yOffset
	-fx-control-inner-background: white; 
}
/*############################################

			BUTTONS AND TOGGLEBUTTONS

############################################*/

.button {
	-fx-text-fill: white;
	-fx-background-radius: 5; //Slighty rounded corners
	-fx-font-weight: bold;
	-fx-border-width: 0; //No border
	-fx-background-color: controls-gradient;
	-fx-effect: dropshadow(gaussian, gray, 4, 0, 2, 2); //blurtype, color, radius, choke, xOffset, yOffset

}
.button:hover {
	-fx-background-color: linear-gradient(main-gold, main-yellow);
	-fx-text-fill: linear-gradient(dark-orange, main-orange);
}

.toggle-button {
	-fx-text-fill: red;
	-fx-background-radius: 5; //Slighty rounded corners
	-fx-font-weight: bold;
	-fx-border-width: 0; //No border
	-fx-background-color: controls-gradient;
	-fx-effect: dropshadow(gaussian, gray, 4, 0, 2, 2); //blurtype, color, radius, choke, xOffset, yOffset
}

.toggle-button:selected {
	-fx-background-color: linear-gradient(light-blue, very-light-blue);
	-fx-text-fill: mediumseagreen;
}

/*############################################

				LISTVIEWS

############################################*/

.location-list,
.token-list,
.list-view {
	-fx-background-color: mega-very-light-blue;
	-fx-border-width: 0;
	-fx-text-fill: black;
}

.list-view:focused {
	-fx-border-color: mega-very-light-blue;
	-fx-background-color: mega-very-light-blue;
}

.list-cell {
	-fx-background-color: mega-very-light-blue;
	-fx-font-weight: bold;
}

.list-cell:odd {
	-fx-background-color: very-light-blue;
	-fx-font-weight: bold;
}

.list-cell:selected {
	-fx-background-color: selected-bg;
	-fx-text-fill: selected-text;
}

.list-cell:odd:selected {
	-fx-background-color: selected-bg;
	-fx-text-fill: selected-text;
}

.location-list .list-cell  {
	-fx-border-color: mega-very-light-blue;
}

.location-list .list-cell:selected {
	-fx-background-color: light-yellow;
	-fx-text-fill: black;
	-fx-border-color: white;
}

.token-list .list-cell:selected {
	-fx-text-fill: black;
	-fx-background-color: mega-very-light-blue;
}

.token-list .list-cell:odd:selected {
	-fx-text-fill: black;
	-fx-background-color: very-light-blue;
}



/*############################################

				TABLEVIEWS

############################################*/

.table-view {
	-fx-background-color: mega-very-light-blue;
	-fx-selection-bar-text: red;
	-fx-text-fill: black;
}

.table-view .table-column {
	-fx-alignment: CENTER;
}

.table-view .column-header {
	-fx-border-width: 0;
	-fx-background-color: controls-gradient;
	-fx-padding: 0;
}

.table-view .column-header-background{
	-fx-background-color: green;
	-fx-border-width: 0;
}

.table-view .column-header-background .label {
	-fx-border-width: 0;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.table-row-cell:filled,
.table-row-cell {
	-fx-background-color: very-light-blue;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	
	//horizontal borders
	-fx-border-color: transparent; 
	
	//vertical borders
	-fx-table-cell-border-color: white;
}

.table-row-cell:selected {
	-fx-background-color: selected-bg;
}

.table-row-cell:selected .text {
	-fx-fill: selected-text;
}

.table-row-cell:filled:odd,
.table-row-cell:odd {
	-fx-background-color: mega-very-light-blue;
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

.table-row-cell:selected:odd {
	-fx-background-color: selected-bg;
}

.table-row-cell:selected:odd .text {
	-fx-fill: selected-text;
}
.table-cell {
	-fx-text-fill: black;
	-fx-padding: 0;
}


.table-view .arrow {  
	-fx-mark-color: white;  
}
/*############################################

					LABELS

############################################*/

.token-label {
	-fx-text-fill: black;
}

.description-label {
	-fx-text-fill: lightgrey;
	-fx-effect: innershadow(gaussian, black, 6, 0, 0, 0); //blurtype, color, radius, choke, xOffset, yOffset
	-fx-font-size: 18;
}

.title-label {
	-fx-text-fill: light-blue;
	-fx-effect: innershadow(gaussian, dark-blue, 10, 0.5, 0, 0); //blurtype, color, radius, choke, xOffset, yOffset
	-fx-font-size: 38;
	-fx-font-weight: bold;
}

.info-label {
	-fx-text-fill: red;
	-fx-font-size: 16;
}

.name-label {
	-fx-font-size: 60;
	-fx-font-family: serif;
	-fx-font-weight: bold;
	-fx-text-fill: player-name-color;
	-fx-effect: innershadow(gaussian, derive(player-name-color, -30%), 10, 0, 0, 0); //blurtype, color, radius, choke, xOffset, yOffset
}

.gamemode-label {
	-fx-font-size: 20;
	-fx-font-family: serif;
	-fx-font-weight: normal;
	-fx-effect: innershadow(gaussian, black, 10, 0.5, 0, 0); //blurtype, color, radius, choke, xOffset, yOffset
}

.gamename-label {
	-fx-font-size: 20;
	-fx-font-family: arial;
	-fx-font-weight: bold;
	-fx-effect: innershadow(gaussian, black, 10, 0.5, 0, 0); //blurtype, color, radius, choke, xOffset, yOffset
}

.countdown-label {
	-fx-font-size: 30;
	-fx-font-family: serif;
	-fx-font-weight: bold;
	-fx-text-fill: gray;
	-fx-effect: innershadow(gaussian, black, 4, 0.5, 0, 0); //blurtype, color, radius, choke, xOffset, yOffset

}

.rules-label {
	-fx-font-family: monospace;
}

/*############################################

					COMBOBOX

############################################*/

.combo-box-base  {
	-fx-padding: 0;
	-fx-border-color: main-blue;
}

.combo-box-base:focused  {
}
.combo-box-base .arrow-button {
	-fx-background-color: controls-gradient;
}

.combo-box-base .arrow {
	-fx-background-color: white;
}

.combo-box .list-cell {
	-fx-background-color: mega-very-light-blue;
	-fx-text-fill: black;
	-fx-font-weight: normal;
}

.combo-box-popup .list-view .list-cell:filled:hover {
	-fx-background-color: selected-bg;
	-fx-text-fill: selected-text;
}